@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #a84343;
  --foreground: #090909;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #be1ab4;
    --foreground: #9622b00b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}